<!--
https://developers.google.com/maps/documentation/javascript/
https://github.com/googlemaps/js-marker-clusterer
-->
<script src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.secrets[:gmaps_api_key]%>"></script>
<script src="/assets/markerclusterer.js"></script>
<div id="map" style="height: 80%"></div>

<script>
//app\sir_trevor_blocks\google_map_block.rb#getsolr
var items = <%=raw google_map_block.getsolr.to_json%>;
window.onload = function() {
  var map           = new google.maps.Map(document.getElementById('map'), {});
  var bounds        = new google.maps.LatLngBounds();
  var infoWindow    = new google.maps.InfoWindow({maxWidth: 450, maxHeight: 500});
  var markers = [];
  var marker;
  var contentString;
  var lat;
  var lng;
  var i;
  var j;
  var overlap;

  //create the markers

  for (i = 0; i < items.length; i+=1) {
    lat = (/-?\d{1,3}\.\d+/).exec(items[i]["spotlight_upload_dc.Coverage-Spatial.Location_tesim"][0].split(",")[0]);
    lng = (/-?\d{1,3}\.\d+/).exec(items[i]["spotlight_upload_dc.Coverage-Spatial.Location_tesim"][0].split(",")[1]);
    position = new google.maps.LatLng(lat, lng);

    //html for the popup info window
    contentString =
      '<h4>'+items[i].full_title_tesim[0]+'</h4>'+
      '<div style=" display: table;">'+
        '<div style="display: table-row">'+
          '<div style="display: table-cell;"><img src="'+ items[i].thumbnail_url_ssm +'" alt ="/uploads/spotlight/resources/videoupload/url/stockaudio.jpg" height="100" width = "100"/></div>'+
          '<div style="display: table-cell; vertical-align: top; padding-left: 10px;">'+ (items[i]["spotlight_upload_dc.description_tesim"] == null? "" : items[i]["spotlight_upload_dc.description_tesim"]) +'</div>'+
        '</div>'+
        '<div style="display: table-row">'+
          '<div style="display: table-cell; padding-top:5px;""><a href = '+'/spotlight/' + items[i].id.split("-")[0] + '/catalog/' + items[i].id+'>View</a></div>'+
          '<div style="display: table-cell; text-align: right">'+ (items[i]["spotlight_upload_dc.Coverage-Spatial.Location_ftesim"] == null? "": items[i]["spotlight_upload_dc.Coverage-Spatial.Location_ftesim"]) +'</div>'+
        '</div>'+
      '</div>';

      //groupsize is the number that is displayed on the red pin when markers on the exact same spot
    marker = new google.maps.Marker({
      map: null,
      position: position,
      title: items[i].full_title_tesim[0],
      groupSize: 1,
      text: contentString
    });

    overlap = false;
    //check if new marker overlaps with another marker
    for(j = 0; j < markers.length; j+=1){
      //add marker info to currenty exsting marker
      if(position.equals(markers[j].getPosition())){
        overlap = true;
        markers[j].text = markers[j].text + '<hr style="border-top: 1px solid #cccccc;" />' + contentString;
        markers[j].groupSize = markers[j].groupSize + 1;
        if (markers[j].groupSize > 1){ markers[j].setLabel(String(markers[j].groupSize));}
        break;
      }
    } //end for

    //add marker to map if it does not overlap
    if(!overlap){
      marker.setMap(map);
      bounds.extend(position); //map will zoom and move so that all markers are on the screen
      map.fitBounds(bounds);
      google.maps.event.addListener(marker, 'mouseover', (function (marker, i) {
        return function () {
          contentString = marker.text;
          infoWindow.setContent(contentString);
          infoWindow.open(map, marker);
        };
      })(marker, i));
      markers.push(marker);
    }
  } //end for

  google.maps.event.addListener(map, 'click',(function(marker){
    return function(){
      infoWindow.close();
    };
  })(marker));

  var options = {
    imagePath: "/assets/map/m",
    maxZoom: 20,
    gridSize: 20
  };

  //clusterer for markers that are close but not directly on top of eachother
  <% if google_map_block.cluster_markers == 'true' %>
    var markerCluster = new MarkerClusterer(map, markers, options);
  <% end %>

  if(bounds.isEmpty()){
    map.setCenter({lat:48.463150, lng:-123.312189});
    map.setZoom(5);
  }
};
</script>
