<footer class="site-footer">
  <div class="row">
    <%= render 'shared/share_follow' %>
    <% if params["exhibit_id"]=="wwi" %>
    	<img src="/uploads/spotlight/logos/5/2li_EnFr_Wordmark_C.png" height="50px" style="padding-left:1%;"/>
    <% end %>
    
  </div>
</footer>

<%= render 'shared/analytics' %>