<%- if has_thumbnail?(document) && tn = render_thumbnail_tag(document, {}, :counter => document_counter_with_offset(document_counter)) %>
<div class="document-thumbnail">
	<% 	sidecar = Spotlight::SolrDocumentSidecar.where(document_id: document._source['id']).first %>
	<% 	if (!sidecar.data["configured_fields"].nil?) && (sidecar.data["configured_fields"].key? "spotlight_upload_parent_tesim") && (sidecar.data["configured_fields"]["spotlight_upload_parent_tesim"].length > 0) %>
		<%=	tn.gsub("/spotlight/#{params['exhibit_id']}/catalog/#{document._source['id']}", sidecar.data["configured_fields"]["spotlight_upload_parent_tesim"].to_s).html_safe %>
	<% else %>
		<%=	tn %>
	<%	end %>
</div>  
<%- end %>